<div class="container my-5 p-5">
    <div class="row" *ngIf="media">
        <div class="col-md-4">
            <img src="https://image.tmdb.org/t/p/w500/{{media.poster_path}}" alt="Poster" class="w-100 rounded-5">
        </div>
        <div class="col-md-8 text-white" id="detalhes">
            <h1 class="fs-1 text-danger">{{ media.title ?? media.name }}</h1>
            <h4 class="mb-4 fw-bold">
                Título Original: {{ media.original_title ?? media.original_name}}
            </h4>
            <p class="mb-3">Data de Estreia:
                {{ (media.release_date ?? media.last_air_date) | date: 'dd/MM/yyyy' }}
            </p>
            <p class="mb-3">País de Origem: {{media.origin_country}}</p>
            <p class="mb-3">Popularidade: {{media.popularity.toFixed(1)}}</p>
            <p class="mb-3">Status: {{media.status}}</p>
            <p class="mb-3">{{media.overview}}</p>
            <button class="btn btn-lg btn-outline-danger me-2" 
                *ngFor="let genre of media.genres"
            >
                {{genre.name}}
            </button>
        </div>
    </div>
</div>