<div class="container my-5 p-5">
    <div class="row" *ngIf="media">
        <div class="col-md-4">
            <img src="https://image.tmdb.org/t/p/w500/{{media.poster_path}}" alt="Poster" class="w-100 rounded-5">
        </div>
        <div class="col-md-8 text-white" id="detalhes">
            <h1 class="fs-1 text-danger">{{ media.title ?? media.name }}</h1>
            <h4 class="mb-4 fw-bold">
                Título Original: {{ media.original_title ?? media.original_name}}
            </h4>
            <p class="mb-3">Data de Estreia:
                {{ (media.release_date ?? media.last_air_date) | date: 'dd/MM/yyyy' }}
            </p>
            <p class="mb-3">País de Origem: {{media.origin_country}}</p>
            <p class="mb-3">Popularidade: {{media.popularity.toFixed(1)}}</p>
            <p class="mb-3">Status: {{media.status}}</p>
            <p class="mb-3">{{media.overview}}</p>
            <button class="btn btn-lg btn-outline-danger me-2" *ngFor="let genre of media.genres">
                {{genre.name}}
            </button>
        </div>
    </div>

    <div class="row my-5 text-white">
        <h3 class="my-3">Vídeos</h3>
        <div class="col" *ngIf="trailers.length == 0">
            <h3 class="text-center my-5">Sem vídeos disponíveis</h3>
        </div>

        <div id="carouselVideos" class="carousel slide" *ngIf="trailers.length > 0">
            <div class="carousel-inner">
                <div class="carousel-item" *ngFor="let t of trailers; let i = index" [ngClass]="{active:i===0}">
                    <h5 class="mb-3">{{ t.name }} - Publicado em: {{t.published_at | date: 'dd/MM/yyyy'}}</h5>
                    <iframe [src]="getSafeUrl(t.key)" class="rounded-5 d-block w-100" height="500"></iframe>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselVideos" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselVideos" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="row my-5 text-white">
        <h3 class="mt-5">Elenco</h3>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-3">
            <div class="col" *ngFor="let c of cast">
                <div class="card" routerLink="/person/{{c.id}}">
                    <img class="card-img-top" alt="{{ c.original_name }}"
                        [src]="c.profile_path ? 'https://image.tmdb.org/t/p/w500/' + c.profile_path : 'img/no-photo-cast.png'">
                    <div class="card-body text-center">
                        <h5 class="card-title">{{ c.original_name }}</h5>
                        <p class="card-text">{{ c.character }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>